<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row style="padding-top:50px">
    <ion-col size="1">

    </ion-col>
    <ion-col size="7.5" style="justify-items: center;">
      <div style="width: 100%;height: 100%;border: outset 4px gray;text-align: center;align-content: center;">
        Depot do MikeDiolas
      </div>
    </ion-col>
    <ion-col size="2.5" style="justify-items: center;">
      <div style="width: 78px;height: 78px;border: outset 4px gray;">
        <img src="https://oneproducao.blob.core.windows.net/iholdbank/depot.gif">
      </div>
    </ion-col>
    <ion-col size="1">

    </ion-col>
</ion-row>
  <ion-row>
      <ion-col size="1">

      </ion-col>
      <ion-col size="2.5" style="justify-items: center;">
        <div style="width: 78px;height: 78px;border: outset 4px gray;">
          <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
        </div>
      </ion-col>
      <ion-col size="2.5" style="justify-items: center;">
        <div style="width: 78px;height: 78px;border: outset 4px gray;">
          <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
        </div>
      </ion-col>
      <ion-col size="2.5" style="justify-items: center;">
        <div style="width: 78px;height: 78px;border: outset 4px gray;">
          <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
        </div>
      </ion-col>
      <ion-col size="2.5" style="justify-items: center;">
        <div style="width: 78px;height: 78px;border: outset 4px gray;">
          <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
        </div>
      </ion-col>
      <ion-col size="1">

      </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1">

    </ion-col>
    <ion-col size="2.5" style="justify-items: center;">
      <div style="width: 78px;height: 78px;border: outset 4px gray;">
        <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
      </div>
    </ion-col>
    <ion-col size="2.5" style="justify-items: center;">
      <div style="width: 78px;height: 78px;border: outset 4px gray;">
        <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
      </div>
    </ion-col>
    <ion-col size="2.5" style="justify-items: center;">
      <div style="width: 78px;height: 78px;border: outset 4px gray;">
        <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
      </div>
    </ion-col>
    <ion-col size="2.5" style="justify-items: center;">
      <div style="width: 78px;height: 78px;border: outset 4px gray;">
        <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
      </div>
    </ion-col>
    <ion-col size="1">

    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1">

    </ion-col>
    <ion-col size="2.5" style="justify-items: center;">
      <div style="width: 78px;height: 78px;border: outset 4px gray;">
        <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
      </div>
    </ion-col>
    <ion-col size="2.5" style="justify-items: center;">
      <div style="width: 78px;height: 78px;border: outset 4px gray;">
        <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
      </div>
    </ion-col>
    <ion-col size="2.5" style="justify-items: center;">
      <div style="width: 78px;height: 78px;border: outset 4px gray;">
        <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
      </div>
    </ion-col>
    <ion-col size="2.5" style="justify-items: center;">
      <div style="width: 78px;height: 78px;border: outset 4px gray;">
        <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
      </div>
    </ion-col>
    <ion-col size="1">

    </ion-col>
 </ion-row>
 <ion-row>
  <ion-col size="1">

  </ion-col>
  <ion-col size="2.5" style="justify-items: center;">
    <div style="width: 78px;height: 78px;border: outset 4px gray;">
      <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
    </div>
  </ion-col>
  <ion-col size="2.5" style="justify-items: center;">
    <div style="width: 78px;height: 78px;border: outset 4px gray;">
      <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
    </div>
  </ion-col>
  <ion-col size="2.5" style="justify-items: center;">
    <div style="width: 78px;height: 78px;border: outset 4px gray;">
      <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
    </div>
  </ion-col>
  <ion-col size="2.5" style="justify-items: center;">
    <div style="width: 78px;height: 78px;border: outset 4px gray;">
      <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
    </div>
  </ion-col>
  <ion-col size="1">

  </ion-col>
 </ion-row>
 <ion-row>
  <ion-col size="1">

  </ion-col>
  <ion-col size="2.5" style="justify-items: center;">
    <div style="width: 78px;height: 78px;border: outset 4px gray;">
      <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
    </div>
  </ion-col>
  <ion-col size="2.5" style="justify-items: center;">
    <div style="width: 78px;height: 78px;border: outset 4px gray;">
      <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
    </div>
  </ion-col>
  <ion-col size="2.5" style="justify-items: center;">
    <div style="width: 78px;height: 78px;border: outset 4px gray;">
      <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
    </div>
  </ion-col>
  <ion-col size="2.5" style="justify-items: center;">
    <div style="width: 78px;height: 78px;border: outset 4px gray;">
      <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
    </div>
  </ion-col>
  <ion-col size="1">

  </ion-col>
 </ion-row>
</ion-content>
