<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hunts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <span *ngIf="levelUp" style="position: absolute;z-index: 3;top: 18%;"><img src="https://oneproducao.blob.core.windows.net/iholdbank/levelup.gif"></span>
  <ion-row *ngIf="cacando" style="padding-top:30px">
    <ion-col size="0.5">

    </ion-col>
    <ion-col size="11" style="justify-items: center;">
      <div style="width: 100%;height: 100%;border: outset 4px gray;text-align: center;align-content: center;">
        <ion-row>
          <ion-col size="12" style="border: outset 4px #be8c29;text-align: center;align-content: center;">
            <ion-text>
              Ratos -  Esgoto de Rookgard
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!cacando">
          <ion-col size="12">
            <img src="https://oneproducao.blob.core.windows.net/iholdbank/ratcave.webp">
          </ion-col>
        </ion-row>
        <ion-row *ngIf="cacando">
          <ion-col size="12">
            <img src="https://oneproducao.blob.core.windows.net/iholdbank/cacandoGif.gif">
          </ion-col>
        </ion-row>
        <!-- <ion-row style="margin-bottom: -25px;">
          <ion-col size="12" style="border: outset 4px #be8c29;text-align: center;align-content: center;">
            Monstros
          </ion-col>
        </ion-row>
        <ion-row style="margin-bottom: -45px;">
          <ion-col size="6" style="left:-27px">
            <img style="rotate:270deg;transform: scaleX(-1);zoom:1.5" src="https://oneproducao.blob.core.windows.net/iholdbank/Rat.gif">
          </ion-col>
          <ion-col size="6" style="left:-27px">
            <img style="rotate:270deg;transform: scaleX(-1);zoom:1.5" src="https://oneproducao.blob.core.windows.net/iholdbank/Cave_Rat.gif">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-text style="font-size: 8pt;">
              Rat
            </ion-text>
          </ion-col>
          <ion-col size="6">
            <ion-text style="font-size: 8pt;">
              Cave Rat
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 10px;">
          <ion-col size="12" style="border: outset 4px #be8c29;text-align: center;align-content: center;">
            Saque
          </ion-col>
        </ion-row>
        <ion-row style="margin-bottom: -15px;">
          <ion-col size="6" style="left:-0">
            <img style="zoom:1.2" src="https://oneproducao.blob.core.windows.net/iholdbank/Gold_Coin.gif">
          </ion-col>
          <ion-col size="6" style="left:-0">
            <img style="zoom:1.2" src="https://oneproducao.blob.core.windows.net/iholdbank/Cheese.gif">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-text style="font-size: 8pt;">
              Gold Coin
            </ion-text>
          </ion-col>
          <ion-col size="6">
            <ion-text style="font-size: 8pt;">
              Cheese
            </ion-text>
          </ion-col>
        </ion-row> -->
        <ion-row style="margin-top: 10px;">
          <ion-col size="12" style="border: outset 4px #be8c29;text-align: center;align-content: center;">
            <ion-text>
              Caçando
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row style="justify-content: center;margin-top: 10px;">
          <div>
            <p><ion-text>
              Tempo Restante:
            </ion-text></p>
          </div>
        </ion-row>
        <ion-row style="justify-content: center;">
          <ion-label style="font-size: 18px;" *ngIf="mostrarTempo">
            {{ expirationCounter }}
          </ion-label>
          <ion-label style="font-size: 18px;margin-bottom: 50px;" *ngIf="!mostrarTempo">
            Carregando ...
          </ion-label>
        </ion-row>
        <div *ngIf="mostrarTempo" class="section" style="margin-bottom: 0px!important;">
          <ion-row>
            <ion-col style="text-align: start;padding-left: 10px;">
              <ion-text>
                Level
              </ion-text>
            </ion-col>
            <ion-col style="text-align: end;padding-right: 10px;">
              <ion-text>
                {{ level }}
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row style="background: gray;width: 95%;justify-self: center;">
            <div class="progress" [ngStyle]="{'width': experienciaPercentage }">
              <div class="progress-bar progress-bar-red" role="progressbar" style="width: 100%;"></div>
            </div>
          </ion-row>
          <ion-row style="padding-top: 0px;margin-bottom:10px;">
            <ion-col style="text-align: start;padding-left: 10px;">
              <ion-text>
                Experience
              </ion-text>
            </ion-col>
            <ion-col style="text-align: end;padding-right: 10px;">
              <ion-text>
                {{ expAtualFormatado }} / {{ expLevelFormatado }}
              </ion-text>
            </ion-col>
          </ion-row>
          <!-- <ion-row>
            <ion-col style="padding-top: 0px;">
              <ion-text>
                XP Gain Rate
              </ion-text>
            </ion-col>
            <ion-col style="text-align: end;padding-top: 0px;">
              <ion-text>
                100%
              </ion-text>
            </ion-col>
          </ion-row> -->
        </div>
        <!-- <ion-row style="justify-content: center;">
          <button (click)="startTimer()">Iniciar</button>
          <button (click)="pauseTimer()">Pausar</button>
          <button (click)="resetTimer()">Redefinir</button>
        </ion-row> -->
        <ion-row>
          <ion-col size="12" style="border: outset 4px #be8c29;text-align: center;align-content: center;">
            <ion-text>
              Criaturas Abatidas
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row style="margin-bottom: -45px;margin-top:-25px">
          <ion-col size="6" style="left:-27px">
            <img style="rotate:270deg;transform: scaleX(-1);zoom:1.5" src="https://oneproducao.blob.core.windows.net/iholdbank/Rat.gif"> <ion-text style="margin-left: 5px;">X {{ratosMortos}}</ion-text> 
          </ion-col>
          <ion-col size="6" style="left:-27px">
            <img style="rotate:270deg;transform: scaleX(-1);zoom:1.5" src="https://oneproducao.blob.core.windows.net/iholdbank/Cave_Rat.gif"> <ion-text style="margin-left: 5px;">X {{caveRatMortos}} </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-text style="font-size: 8pt;">
              Rat
            </ion-text>
          </ion-col>
          <ion-col size="6">
            <ion-text style="font-size: 8pt;">
              Cave Rat
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 5px;">
          <ion-col size="12" style="border: outset 4px #be8c29;text-align: center;align-content: center;">
            <ion-text>
              Saque
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row style="margin-bottom: -15px;">
          <ion-col size="6" style="left:-0">
            <img style="zoom:1.2" src="https://oneproducao.blob.core.windows.net/iholdbank/Gold_Coin.gif"> <ion-text style="margin-left: 5px;">X {{goldCoins}}</ion-text> 
          </ion-col>
          <ion-col size="6" style="left:-0">
            <img style="zoom:1.2" src="https://oneproducao.blob.core.windows.net/iholdbank/Cheese.gif"> <ion-text style="margin-left: 5px;">X {{cheese}} </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-text style="font-size: 8pt;">
              Gold Coin
            </ion-text>
          </ion-col>
          <ion-col size="6">
            <ion-text style="font-size: 8pt;">
              Cheese
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row style="justify-content: center;margin-top: 10px;">
          <ion-col (click)="cancelarHunt()" size="6" class="alerts-border" style="border: outset 4px #be8c29;text-align: center;align-content: center;">
            <ion-text>Voltar</ion-text>
          </ion-col>
          <ion-col (click)="cancelarHunt()" size="6" class="alerts-border" style="border: outset 4px #be8c29;text-align: center;align-content: center;">
            <ion-text>Finalizar Hunt</ion-text>
          </ion-col>
        </ion-row>
      </div>

    </ion-col>
    <ion-col size="0.5">

    </ion-col>
  </ion-row>
  <ion-row *ngIf="!cacando" style="padding-top:30px">
    <ion-col size="0.5">

    </ion-col>
    <ion-col size="11" style="justify-items: center;">
      <div style="width: 100%;height: 100%;border: outset 4px gray;text-align: center;align-content: center;">
        <ion-row>
          <ion-col size="12" style="border: outset 4px #be8c29;text-align: center;align-content: center;">
            <ion-text>
              Ratos -  Esgoto de Rookgard
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <img src="https://oneproducao.blob.core.windows.net/iholdbank/ratcave.webp">
          </ion-col>
        </ion-row>
        <ion-row style="margin-bottom: -25px;">
          <ion-col size="12" style="border: outset 4px #be8c29;text-align: center;align-content: center;">
            <ion-text>
              Monstros
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row style="margin-bottom: -45px;">
          <ion-col size="6" style="left:-27px">
            <img style="rotate:270deg;transform: scaleX(-1);zoom:1.5" src="https://oneproducao.blob.core.windows.net/iholdbank/Rat.gif">
          </ion-col>
          <ion-col size="6" style="left:-27px">
            <img style="rotate:270deg;transform: scaleX(-1);zoom:1.5" src="https://oneproducao.blob.core.windows.net/iholdbank/Cave_Rat.gif">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-text style="font-size: 8pt;">
              Rat
            </ion-text>
          </ion-col>
          <ion-col size="6">
            <ion-text style="font-size: 8pt;">
              Cave Rat
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 10px;">
          <ion-col size="12" style="border: outset 4px #be8c29;text-align: center;align-content: center;">
            <ion-text>
              Saque
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row style="margin-bottom: -15px;">
          <ion-col size="6" style="left:-0">
            <img style="zoom:1.2" src="https://oneproducao.blob.core.windows.net/iholdbank/Gold_Coin.gif">
          </ion-col>
          <ion-col size="6" style="left:-0">
            <img style="zoom:1.2" src="https://oneproducao.blob.core.windows.net/iholdbank/Cheese.gif">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-text style="font-size: 8pt;">
              Gold Coin
            </ion-text>
          </ion-col>
          <ion-col size="6">
            <ion-text style="font-size: 8pt;">
              Cheese
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 10px;">
          <ion-col (click)="cacar()" size="12" class="alerts-border" style="border: outset 4px #be8c29;text-align: center;align-content: center;">
            <ion-text>
              Iniciar
            </ion-text>
          </ion-col>
        </ion-row>
      </div>

    </ion-col>
    <ion-col size="0.5">

    </ion-col>
  </ion-row>
</ion-content>