<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row style="padding-top:50px">
    <ion-col size="1">

    </ion-col>
    <ion-col size="7.5" style="justify-items: center;">
      <div style="width: 100%;height: 100%;border: outset 4px gray;text-align: center;align-content: center;">
        <ion-text style="color: white;">
          Backpack do MikeDiolas
        </ion-text>
        
      </div>
    </ion-col>
    <ion-col size="2.5" style="justify-items: center;">
      <div style="border: outset 4px gray;">
        <img src="https://oneproducao.blob.core.windows.net/iholdbank/Backpack.gif">
      </div>
    </ion-col>
    <ion-col size="1">

    </ion-col>
</ion-row>
  <ion-row>
      <ion-col size="1">

      </ion-col>
      <ion-col size="2.5" style="justify-items: center;">
        <div *ngIf="slot1.Name == undefined" style="border: outset 4px gray;">
          <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
        </div>
        <div *ngIf="slot1.Name != undefined" [ngStyle]="{'border': slot1.Rarity}" style="width: 100%;background: #302d2d">
          <ion-img style="transform: scale(0.8);" style="transform: scale(0.8);" src="{{slot1.Img}}"></ion-img>
          <span style="position: absolute;left: 69%;bottom: 0%;"><ion-text style="color: white;font-size: 18px;font-weight: bolder;">{{slot1.Amount}}</ion-text></span>
        </div>
      </ion-col>
      <ion-col size="2.5" style="justify-items: center;">
        <div *ngIf="slot2.Name == undefined" style="border: outset 4px gray;">
          <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
        </div>
        <div *ngIf="slot2.Name != undefined" [ngStyle]="{'border': slot2.Rarity}" style="width: 100%;background: #302d2d">
          <ion-img style="transform: scale(0.8);" src="{{slot2.Img}}"></ion-img>
          <span *ngIf="slot2.Amount > 1" style="position: absolute;left: 69%;bottom: 0%;"><ion-text style="color: white;font-size: 18px;font-weight: bolder;">{{slot2.Amount}}</ion-text></span>
        </div>
      </ion-col>
      <ion-col size="2.5" style="justify-items: center;">
        <div *ngIf="slot3.Name == undefined" style="border: outset 4px gray;">
          <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
        </div>
        <div *ngIf="slot3.Name != undefined" [ngStyle]="{'border': slot3.Rarity}" style="width: 100%;background: #302d2d">
          <ion-img style="transform: scale(0.8);" src="{{slot3.Img}}"></ion-img>
          <span style="position: absolute;left: 69%;bottom: 0%;"><ion-text style="color: white;font-size: 18px;font-weight: bolder;">{{slot3.Amount}}</ion-text></span>
        </div>
      </ion-col>
      <ion-col size="2.5" style="justify-items: center;">
        <div *ngIf="slot4.Name == undefined" style="border: outset 4px gray;">
          <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
        </div>
        <div *ngIf="slot4.Name != undefined" [ngStyle]="{'border': slot4.Rarity}" style="width: 100%;background: #302d2d">
          <ion-img style="transform: scale(0.8);" src="{{slot4.Img}}"></ion-img>
          <span style="position: absolute;left: 69%;bottom: 0%;"><ion-text style="color: white;font-size: 18px;font-weight: bolder;">{{slot4.Amount}}</ion-text></span>
        </div>
      </ion-col>
      <ion-col size="1">

      </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1">

    </ion-col>
    <ion-col size="2.5" style="justify-items: center;">
      <div *ngIf="slot5.Name == undefined" style="border: outset 4px gray;">
        <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
      </div>
      <div *ngIf="slot5.Name != undefined" [ngStyle]="{'border': slot5.Rarity}" style="width: 100%;background: #302d2d">
        <ion-img style="transform: scale(0.8);" src="{{slot5.Img}}"></ion-img>
        <span style="position: absolute;left: 69%;bottom: 0%;"><ion-text style="color: white;font-size: 18px;font-weight: bolder;">{{slot5.Amount}}</ion-text></span>
      </div>
    </ion-col>
    <ion-col size="2.5" style="justify-items: center;">
      <div *ngIf="slot6.Name == undefined" style="border: outset 4px gray;">
        <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
      </div>
      <div *ngIf="slot6.Name != undefined" [ngStyle]="{'border': slot1.Rarity}" style="width: 100%;background: #302d2d">
        <ion-img style="transform: scale(0.8);" src="{{slot6.Img}}"></ion-img>
        <span style="position: absolute;left: 69%;bottom: 0%;"><ion-text style="color: white;font-size: 18px;font-weight: bolder;">{{slot6.Amount}}</ion-text></span>
      </div>
    </ion-col>
    <ion-col size="2.5" style="justify-items: center;">
      <div *ngIf="slot7.Name == undefined" style="border: outset 4px gray;">
        <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
      </div>
      <div *ngIf="slot7.Name != undefined" [ngStyle]="{'border': slot7.Rarity}" style="width: 100%;background: #302d2d">
        <ion-img style="transform: scale(0.8);" src="{{slot7.Img}}"></ion-img>
        <span style="position: absolute;left: 69%;bottom: 0%;"><ion-text style="color: white;font-size: 18px;font-weight: bolder;">{{slot7.Amount}}</ion-text></span>
      </div>
    </ion-col>
    <ion-col size="2.5" style="justify-items: center;">
      <div *ngIf="slot8.Name == undefined" style="border: outset 4px gray;">
        <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
      </div>
      <div *ngIf="slot8.Name != undefined" [ngStyle]="{'border': slot8.Rarity}" style="width: 100%;background: #302d2d">
        <ion-img style="transform: scale(0.8);" src="{{slot8.Img}}"></ion-img>
        <span style="position: absolute;left: 69%;bottom: 0%;"><ion-text style="color: white;font-size: 18px;font-weight: bolder;">{{slot8.Amount}}</ion-text></span>
      </div>
    </ion-col>
    <ion-col size="1">

    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1">

    </ion-col>
    <ion-col size="2.5" style="justify-items: center;">
      <div *ngIf="slot9.Name == undefined" style="border: outset 4px gray;">
        <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
      </div>
      <div *ngIf="slot9.Name != undefined" [ngStyle]="{'border': slot9.Rarity}" style="width: 100%;background: #302d2d">
        <ion-img style="transform: scale(0.8);" src="{{slot9.Img}}"></ion-img>
        <span style="position: absolute;left: 69%;bottom: 0%;"><ion-text style="color: white;font-size: 18px;font-weight: bolder;">{{slot9.Amount}}</ion-text></span>
      </div>
    </ion-col>
    <ion-col size="2.5" style="justify-items: center;">
      <div *ngIf="slot10.Name == undefined" style="border: outset 4px gray;">
        <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
      </div>
      <div *ngIf="slot10.Name != undefined" [ngStyle]="{'border': slot10.Rarity}" style="width: 100%;background: #302d2d">
        <ion-img style="transform: scale(0.8);" src="{{slot10.Img}}"></ion-img>
        <span style="position: absolute;left: 69%;bottom: 0%;"><ion-text style="color: white;font-size: 18px;font-weight: bolder;">{{slot10.Amount}}</ion-text></span>
      </div>
    </ion-col>
    <ion-col size="2.5" style="justify-items: center;">
      <div *ngIf="slot11.Name == undefined" style="border: outset 4px gray;">
        <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
      </div>
      <div *ngIf="slot11.Name != undefined" [ngStyle]="{'border': slot11.Rarity}" style="width: 100%;background: #302d2d">
        <ion-img style="transform: scale(0.8);" src="{{slot11.Img}}"></ion-img>
        <span style="position: absolute;left: 69%;bottom: 0%;"><ion-text style="color: white;font-size: 18px;font-weight: bolder;">{{slot11.Amount}}</ion-text></span>
      </div>
    </ion-col>
    <ion-col size="2.5" style="justify-items: center;">
      <div *ngIf="slot12.Name == undefined" style="border: outset 4px gray;">
        <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
      </div>
      <div *ngIf="slot12.Name != undefined" [ngStyle]="{'border': slot12.Rarity}" style="width: 100%;background: #302d2d">
        <ion-img style="transform: scale(0.8);" src="{{slot12.Img}}"></ion-img>
        <span style="position: absolute;left: 69%;bottom: 0%;"><ion-text style="color: white;font-size: 18px;font-weight: bolder;">{{slot12.Amount}}</ion-text></span>
      </div>
    </ion-col>
    <ion-col size="1">

    </ion-col>
 </ion-row>
 <ion-row>
  <ion-col size="1">

  </ion-col>
  <ion-col size="2.5" style="justify-items: center;">
    <div *ngIf="slot13.Name == undefined" style="border: outset 4px gray;">
      <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
    </div>
    <div *ngIf="slot13.Name != undefined" [ngStyle]="{'border': slot13.Rarity}" style="width: 100%;background: #302d2d">
      <ion-img style="transform: scale(0.8);" src="{{slot13.Img}}"></ion-img>
      <span style="position: absolute;left: 69%;bottom: 0%;"><ion-text style="color: white;font-size: 18px;font-weight: bolder;">{{slot13.Amount}}</ion-text></span>
    </div>
  </ion-col>
  <ion-col size="2.5" style="justify-items: center;">
    <div *ngIf="slot14.Name == undefined" style="border: outset 4px gray;">
      <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
    </div>
    <div *ngIf="slot14.Name != undefined" [ngStyle]="{'border': slot14.Rarity}" style="width: 100%;background: #302d2d">
      <ion-img style="transform: scale(0.8);" src="{{slot14.Img}}"></ion-img>
      <span style="position: absolute;left: 69%;bottom: 0%;"><ion-text style="color: white;font-size: 18px;font-weight: bolder;">{{slot14.Amount}}</ion-text></span>
    </div>
  </ion-col>
  <ion-col size="2.5" style="justify-items: center;">
    <div *ngIf="slot15.Name == undefined" style="border: outset 4px gray;">
      <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
    </div>
    <div *ngIf="slot15.Name != undefined" [ngStyle]="{'border': slot15.Rarity}" style="width: 100%;background: #302d2d">
      <ion-img style="transform: scale(0.8);" src="{{slot15.Img}}"></ion-img>
      <span style="position: absolute;left: 69%;bottom: 0%;"><ion-text style="color: white;font-size: 18px;font-weight: bolder;">{{slot15.Amount}}</ion-text></span>
    </div>
  </ion-col>
  <ion-col size="2.5" style="justify-items: center;">
    <div *ngIf="slot16.Name == undefined" style="border: outset 4px gray;">
      <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
    </div>
    <div *ngIf="slot16.Name != undefined" [ngStyle]="{'border': slot16.Rarity}" style="width: 100%;background: #302d2d">
      <ion-img style="transform: scale(0.8);" src="{{slot16.Img}}"></ion-img>
      <span style="position: absolute;left: 69%;bottom: 0%;"><ion-text style="color: white;font-size: 18px;font-weight: bolder;">{{slot16.Amount}}</ion-text></span>
    </div>
  </ion-col>
  <ion-col size="1">

  </ion-col>
 </ion-row>
 <ion-row>
  <ion-col size="1">

  </ion-col>
  <ion-col size="2.5" style="justify-items: center;">
    <div *ngIf="slot17.Name == undefined" style="border: outset 4px gray;">
      <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
    </div>
    <div *ngIf="slot17.Name != undefined" [ngStyle]="{'border': slot17.Rarity}" style="width: 100%;background: #302d2d">
      <ion-img style="transform: scale(0.8);" src="{{slot17.Img}}"></ion-img>
      <span style="position: absolute;left: 69%;bottom: 0%;"><ion-text style="color: white;font-size: 18px;font-weight: bolder;">{{slot17.Amount}}</ion-text></span>
    </div>
  </ion-col>
  <ion-col size="2.5" style="justify-items: center;">
    <div *ngIf="slot18.Name == undefined" style="border: outset 4px gray;">
      <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
    </div>
    <div *ngIf="slot18.Name != undefined" [ngStyle]="{'border': slot18.Rarity}" style="width: 100%;background: #302d2d">
      <ion-img style="transform: scale(0.8);" src="{{slot18.Img}}"></ion-img>
      <span style="position: absolute;left: 69%;bottom: 0%;"><ion-text style="color: white;font-size: 18px;font-weight: bolder;">{{slot18.Amount}}</ion-text></span>
    </div>
  </ion-col>
  <ion-col size="2.5" style="justify-items: center;">
    <div *ngIf="slot19.Name == undefined" style="border: outset 4px gray;">
      <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
    </div>
    <div *ngIf="slot19.Name != undefined" [ngStyle]="{'border': slot19.Rarity}" style="width: 100%;background: #302d2d">
      <ion-img style="transform: scale(0.8);" src="{{slot19.Img}}"></ion-img>
      <span style="position: absolute;left: 69%;bottom: 0%;"><ion-text style="color: white;font-size: 18px;font-weight: bolder;">{{slot19.Amount}}</ion-text></span>
    </div>
  </ion-col>
  <ion-col size="2.5" style="justify-items: center;">
    <div *ngIf="slot20.Name == undefined" style="border: outset 4px gray;">
      <img src="https://oneproducao.blob.core.windows.net/iholdbank/Empty.png">
    </div>
    <div *ngIf="slot20.Name != undefined" [ngStyle]="{'border': slot20.Rarity}" style="width: 100%;background: #302d2d">
      <ion-img style="transform: scale(0.8);" src="{{slot20.Img}}"></ion-img>
      <span style="position: absolute;left: 69%;bottom: 0%;"><ion-text style="color: white;font-size: 18px;font-weight: bolder;">{{slot20.Amount}}</ion-text></span>
    </div>
  </ion-col>
  <ion-col size="1">

  </ion-col>
 </ion-row>
</ion-content>
