<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row style="padding-top:50px">
      <ion-col size="4" style="justify-items: right;">
        <div style="width: 100px;height: 100px;border: outset 4px gray;">
          <img src="https://oneproducao.blob.core.windows.net/iholdbank/Amulet.png" style="width: 100%;">
        </div>
      </ion-col>
      <ion-col size="4" style="margin-top: -30px;justify-items: center;">
        <div style="width: 100px;height: 100px;border: outset 4px gray;">
          <img src="https://oneproducao.blob.core.windows.net/iholdbank/Helmet.png" style="width: 100%;">
        </div>
      </ion-col>
      <ion-col size="4" style="justify-items: left;">
        <div style="width: 100px;height: 100px;border: outset 4px gray;">
          <img src="https://oneproducao.blob.core.windows.net/iholdbank/BP.png" style="width: 100%;">
        </div>
      </ion-col>
  </ion-row>
  <ion-row>

      <ion-col size="4" style="justify-items: right;">
        <div style="width: 100px;height: 100px;border: outset 4px gray;">
          <img src="https://oneproducao.blob.core.windows.net/iholdbank/Weapon.png" style="width: 100%;">
        </div>
      </ion-col>

      <ion-col size="4" style="margin-top:-30px;justify-items: center;">
        <div style="width: 100px;height: 100px;border: outset 4px gray;">
          <img src="https://oneproducao.blob.core.windows.net/iholdbank/Armor.png" style="width: 100%;">
        </div>
      </ion-col>

      <ion-col size="4" style="justify-items: left;">
        <div style="width: 100px;height: 100px;border: outset 4px gray;">
          <img src="https://oneproducao.blob.core.windows.net/iholdbank/Shield.png" style="width: 100%;">
        </div>
      </ion-col>

  </ion-row>
  <ion-row>
      <ion-col size="4" style="justify-items: right;">
        <div style="width: 100px;height: 100px;border: outset 4px gray;">
          <img src="https://oneproducao.blob.core.windows.net/iholdbank/Ring.png" style="width: 100%;">
        </div>
      </ion-col>
      <ion-col size="4" style="margin-top:-30px;justify-items: center;">
        <div style="width: 100px;height: 100px;border: outset 4px gray;">
          <img src="https://oneproducao.blob.core.windows.net/iholdbank/Legs.png" style="width: 100%;">
        </div>
      </ion-col>
      <ion-col size="4" style="justify-items: left;">
        <div style="width: 100px;height: 100px;border: outset 4px gray;">
          <img src="https://oneproducao.blob.core.windows.net/iholdbank/Tocha.png" style="width: 100%;">
        </div>
      </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" style="margin-top:-30px">
      <ion-row style="justify-content: center;">
        <div style="width: 100px;height: 100px;border: outset 4px gray;">
          <img src="https://oneproducao.blob.core.windows.net/iholdbank/Bota.png" style="width: 100%;">
        </div>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
