.botao-inicio{
    height: 100px;
    width: 100px;
}
#background-content{
    background: black!important;
  
}
.headerChar{
    border-radius: 20px;
    --background:#d18636!important;
    width: 50%;
}

.button-solid {
    --background-activated: transparent;
    --background-focused: transparent;
    --background-hover: transparent;
    --background-activated-opacity: 1;
    --background-focused-opacity: 1;
    --background-hover-opacity: 1;
}
::ng-deep ion-content{
    --background:black;
}
::ng-deep ion-label{
    color:white;
}
.button-solid {
    --background: transparent;
    --color: var(--ion-color-primary-contrast, #fff);
}

img{
 height: 90%;
 width: 90%;
 margin-bottom: 25%;
}

ion-button{
    border-style: outset;
    border-color: grey;
    border-radius: 20px;
    border-width: 4px;
}
ion-label{
    font-size: 9pt;
}
.skillsPanelClass{
    justify-content: center;
}